@model IEnumerable<Ariel.Paixao.Web.Razor.Dominios.RegistroDefeitos>

@{
    ViewData["Title"] = "Registro de Defeitos";
}

<h2>Listagem de Registros de Defeitos</h2>

<p>
    <a class="btn btn-primary" asp-action="Create">Adicionar</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DataChamado)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descricao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdTipoDefeitoNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdTipoEquipamentoNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DataChamado)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descricao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdTipoDefeitoNavigation.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdTipoEquipamentoNavigation.Nome)
            </td>
            <td>
                @*<a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |*@
                @*<a asp-action="Details" asp-route-id="@item.Id">Details</a> |*@
                @*<a asp-action="Delete" asp-route-id="@item.Id">Delete</a>*@
            </td>
        </tr>
}
    </tbody>
</table>
